body{

    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#eed3d3;
    color:#333;

}

header{

    background:#0b4f6c;
    color:white;
    text-align:center;
    padding:30px;

}

.subtitle{

    font-style:italic;

}

nav{

    background:#333;

}

nav ul{

    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;

}

nav ul li{

    padding:15px;

}

nav ul li a{

    color:rgb(250, 224, 224);
    text-decoration:none;
    font-weight:bold;

}

nav ul li a:hover{

    color:gold;

}

main{

    width:80%;
    margin:auto;
    padding:20px;

}

section{

    background:rgb(251, 240, 240);
    margin-bottom:20px;
    padding:20px;
    border-radius:10px;

}

img{

    width:250px;
    display:block;
    margin:auto;
    border-radius:10px;

}

aside{

    background:#ddd;
    padding:20px;
    border-radius:10px;

}

blockquote{

    font-style:italic;
    color:#0b4f6c;
    border-left:5px solid #0b4f6c;
    padding-left:15px;

}

footer{

    background:#0b4f6c;
    color:white;
    text-align:center;
    padding:20px;

}

.slider {
    width: 400px;
    height: 250px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #ccc;
}

.slides {
    display: flex;
    width: 800px; /* 2 images */
    animation: slide 6s infinite;
}

.slides img {
    width: 400px;
    height: 250px;
    object-fit: cover;
}

@keyframes slide {
    0% { transform: translateX(0); }
    50% { transform: translateX(-400px); }
    100% { transform: translateX(0); }
}